* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/background-filter.jpg");
  background-size: cover;
}
.outside {
  margin: auto;
  margin-top: 50px;
  padding: 0 30px;
  width: 400px;
  overflow: auto;
  background-color: white;
  border-radius: 10px;
}
.enter, 
.category {
  padding: 10px 0;
  max-width: 100%;
}
.category{
  text-align: center;
}
.head, 
ol, 
li {
  background-color:white;
  max-width: 100%;
}
ol {
  list-style-position: inside;
}
.head {
  padding-top: 30px;
  text-align: left;
}
.intro {
  padding-top: 10px;
  font-style: italic;
}
.inputText {
  width: 85%;
  height: 25px;
  font-size: 14px;
  background-color:white;
 
}
li {
  padding: 5px;
}
li:nth-child(even) {
  background-color: rgb(255, 230, 230);
}
.addBtn {
  padding: 5px;
  width: 12%;
  background-color: #fc999c;
  font-size: 14px;
  color: white;
  border-radius: 4px;
  border-color: white;
}
.buttons {
  padding: 5px;
  color: #fc999c;
  font-size: 14px;
  border-color: white;
}
.buttons:hover {
  background-color: rgb(235, 184, 181);
}
.complete {
  text-decoration-line: line-through;
}
.active {
  text-decoration-line: none;
}